<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">SHOPITESZ</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DEPARTAMENTOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/celulares">TELEFONIA</a></li>
          <li><a href="/computadoras">COMPUTADORAS</a></li>
          <li><a href="/lineablanca">LINEA BLANCA</a></li>
          <li><a href="/video">VIDEO JUEGOS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PEDIDOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/pedidos">VER PEDIDOS</a></li>
        </ul>
      </li>
      <li class="nav navbar-nav">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACTO</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
        <li style="float:right"><a href="/Usuarios/iniciarSesion"><span class="glyphicon glyphicon-log-in"></span> Iniciar Sesion</a></li>
        <li style="float:right"><a href="/carrito"><span class="glyphicon glyphicon-shopping-cart"></span> CARRITO</a></li>
        {% else %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicon glyphicon-user"></span>{{current_user.nombreCompleto}}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/Usuarios/verPerfil"><span class="glyphicon glyphicon-edit"></span> Editar mi perfil</a></li>
                <li><a href="/Usuarios/cerrarSesion"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesion</a></li>
              </ul>
           </li>
           {% endif %}
        </ul>
  </div>
</nav>