{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido%}
    <h1>Carrito de compras</h1>
        <table class="table table-bordered table-hover">
        <thead>
        <th></th>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Cantidad</th>
        </thead>
        <tr>
            <td><input type="checkbox"></td>
            <td>Laptop DEL</td>
            <td>08/07/2021</td>
            <td>
                <select name="select">
                    <option value="value1" selected>1</option>
                    <option value="value2" >2</option>
                    <option value="value3">3</option>
                </select>
             </td>

        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Laptop DEL</td>
            <td>08/07/2021</td>
            <td>
                <select name="select">
                    <option value="value1" selected>1</option>
                    <option value="value2" >2</option>
                    <option value="value3">3</option>
                </select>
            </td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>Laptop DEL</td>
            <td>08/07/2021</td>
            <td>
                <select name="select">
                    <option value="value1">1</option>
                    <option value="value2" selected>2</option>
                    <option value="value3">3</option>
                </select>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary">Hacer pedido</button>
    <button type="button" class="btn btn-danger">Eliminar</button>
{% endblock%}