h1{
    color:black;
    font-size:50px;
    font-weight:bold;
}
.tituloHeader{
    color:white;
    font-size:30px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#h1{
    color:green;
    font-size:10px;
    font-weight:bold;
}
.linkButton{
    background:red;
    border:2px solid black;
    text-decoration:none;
}
body{
    background-image:url('../img/fondo.jpg');
    background-size:cover;
    opacity:0.8;
}
header{
    background-color: black;
    background-image: url('../img/logoFox.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    margin: 0%;
    padding-top:1%;
    padding-bottom:1%;
    padding-left:30%;
}
nav{
    margin-top:0%;
}
table{
    background:white;
}
th{
    background:black;
    color:white;
}