{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<div>
    <h1 class="bg-primary text-center">Agregar Tarjetas</h1>
    <form action="/Tarjetas/agregar" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="id" value="{{current_user.idUsuario}}" >
        </div>
        <div class="form-group">
            <label>Número de tarjeta:</label>
            <input type="text" name="tarjeta" required maxlength="60" placeholder="Número de la tarjeta" class="form-control">
        </div>
        <div class="form-group">
            <label>Entidad bancaria:</label>
            <select name="bancoE"  class="form-control">
                <option value="BBVA">BBVA</option>
                <option value="Bancomer">Banamex</option>
                <option value="Banorte">Banorte</option>
            </select>
        </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>

{% endblock %}