{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1>LISTADO DE LA CESTA</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>

            <th>PRODUCTO</th>
            <th>UNIDADES</th>
            <th>PRECIO</th>
            <th>TOTAL</th>
            <th>FECHA DE REGISTRO</th>
            <th>ELIMINAR </th>
        </thead>
        {% for prod in cesta %}
            <tr>

                <td>{{prod.producto.nombre}}</td>
                <td>{{prod.cantidad}}</td>
                <td>{{prod.producto.precioVenta}}</td>
                <td>{{prod.producto.precioVenta * prod.cantidad}}</td>
                <td>{{prod.fecha}}</td>
                {% if current_user.is_authenticated and current_user.is_comprador() %}
                <td>
                  <a href="/carrito/eliminar/{{prod.producto.idProducto}}" class="btn btn-danger mb-3" style="float:right">
                      <span class="glyphicon glyphicon-circle-arrow-left"></span>
                         Eliminar
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% if current_user.is_authenticated and current_user.is_admin() %}
<label>Debes iniciar sesión con otra cuenta</label>
{% endif %}
{% endblock %}