{% extends 'comunes/base.html' %}
{% block navbar %}
{{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido%}
    <h1>LISTADO DE PRODUCTOS</h1>
        <table class="table table-bordered table-hover">
        <thead>
        <th>NOMBRE</th>
        <th>DESCRIPCIÓN</th>
        <th>PRECIO</th>
        <th>STOCK</th>
        </thead>
        <tr>
            <td>Laptop DEL</td>
            <td>Procesador: i5, 256GB SHD, 16GB en RAM</td>
            <td>$18,000</td>
            <td>5 unidades</td>
        </tr>

            <tr>
            <td>Laptop DEL</td>
            <td>Procesador: i5, 256GB SHD, 16GB en RAM</td>
            <td>$18,000</td>
            <td>5 unidades</td>
        </tr>
    </table>
{% endblock%}