{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}
<div>
    <h1 class="bg-primary text-center">Clientes</h1>
    <table class="table table-bordered">
        <th>ID</th>
        <th>NOMBRE</th>
        {% if current_user.is_authenticated and current_user.is_admin() %}
         <th>ESTATUS</th>
        {% endif %}
        {% if current_user.is_authenticated and current_user.is_admin() %}
        <th>EDITAR</th>
        {% endif %}
        {% for user in usuario %}

            <tr>
                <td>{{user.idUsuario}}</td>
                <td>{{user.nombreCompleto}}</td>
                <td>{{user.estatus}}</td>
                <td>{{user.tipo}}</td>
            </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}