{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    {{super()}}
    <div class="text-center" style="color: #000000; font-size: 40pt">
       Ingresar
    </div>
    <img src="{{url_for('static',filename='img/login.png')}}" style="float: center">
    <img src="{{url_for('static',filename='img/Zorro.png')}}" alt="Zorro" width="300" height="300" style="float:right">
    <br>
    <br>
    <form action="/Usuarios/validarSesion" method="post">
            <div style="float: justify">
                <label for="correo">Correo:</label> <!-- Aplicando el estilo en linea -->
                <input type="email" name="correo" maxlength="50" required>
            </div>
            <br>
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" name="password" maxlength="20" required>
            </div>
            <br>
            <a class="btn btn-default2" href="/Usuarios/nuevo">Crear una cuenta</a>
            <input class="btn btn-default2" type="submit" value="Iniciar Sesión">
            <a class="btn btn-default" href="/">Regresar</a>
    </form>
{% endblock %}
