{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
{{super()}}
<div>
    <h1 class="bg-primary text-center">Edicion de Pedidos</h1>
    <form action="/Pedidos/editarPedidos" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="idPedido"> id Pedido: </label>
            <input type="number" name="idPedido"  required class="form-control" value="{{pedido.idPedido }}" readonly class="form-control">
        </div>
         <div class="form-group">
            <label for="idComprador"> id Comprador: </label>
            <input type="number" name="idComprador"  required class="form-control" value="{{pedido.idComprador}}" readonly class="form-control">
        </div>
         <div class="form-group">
            <label for="idVendedor"> id Vendedor: </label>
            <input type="number" name="idVendedor"  required class="form-control" value="{{pedido.idVendedor}}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="idTarjeta"> id Tarjeta: </label>
            <input type="number" name="idTarjeta"  required class="form-control" value="{{pedido.idTarjeta}}" readonly class="form-control">
        </div>
        <div class="form-group">
            <label for="fechaRegistro">fecha de Registro:</label>
            <input type="date" name="fechaRegistro"  required maxlength="100" value="{{pedido.fechaRegistro}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="fechaAtencion">fecha de Atencion:</label>
            <input type="date" name="fechaAtencion" required maxlength="100" value="{{pedido.fechaAtencion}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="fechaRecepcion">fecha de Recepcion:</label>
            <input type="date" name="fechaRecepcion" required maxlength="100" value="{{pedido.fechaRecepcion}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="fechaCierre">fecha de Cierre:</label>
            <input type="date" name="fechaCierre" required  maxlength="100" value="{{pedido.fechaCierre}}" class="form-control">
        </div>
         <div class="form-group">
            <label for="total">total:</label>
            <input type="numbre" name="total" required maxlength="200" value="{{pedido.total}}" class="form-control">
        </div>
        <div class="form-control">
            <label for="estatus">Estatus:</label>
            <select name="estatus">
            {% if pedido.estatus=='Activo' %}
                <option selected>Activo</option>
                <option>Pendiente</option>
            {% else %}
                <option>Activo</option>
                <option selected>Pendiente</option>
            {% endif %}
            </select>
        </div>

           <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span>
                Guardar
            </button>
            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#eliminar">
                <span class="glyphicon glyphicon-trash"></span>
                Eliminar
            </a>
            <a href="/Pedidos/verpedidos/{{current_user.idUsuario}}" class="btn btn-info">
                <span class="glyphicon glyphicon-arrow-left"></span>
                Cancelar
            </a>
    </form>





</div>

{% endblock %}