<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">SHOPITESZ</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">DEPARTAMENTOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/productos">TELEFONIA</a></li>
          <li><a href="/productos">COMPUTADORAS</a></li>
          <li><a href="/productos">LINEA BLANCA</a></li>
          <li><a href="/productos">VIDEO JUEGOS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PEDIDOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">REGISTRO</a></li>
          <li><a href="#">SEGUIMIENTO</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">USUARIOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/registrarCuenta">CLIENTES</a></li>
          <li><a href="#">VENDEDORES</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>