{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
<div>
    <h1 class="bg-primary text-center">Registro de Categorias</h1>
    <form action="/Productos/agregar" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label>Categoria:</label>
            <select name="categ" class="form-control">
                {% for cat in categorias %}
                    <option value="{{cat.idCategoria}}">{{cat.nombre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" name="nombre" required maxlength="60" placeholder="Nombre del producto" class="form-control">
        </div>
        <div class="form-group">
            <label>Descripción:</label>
            <input type="text" name="desc" required maxlength="200" placeholder="Descripción del producto" class="form-control">
        </div>
        <div class="form-group">
            <label>Precio:</label>
            <input type="text" name="precio" required maxlength="30" placeholder="Precio del producto" class="form-control">
        </div>
        <div class="form-group">
            <label>Existencias:</label>
            <input type="text" name="exist" required maxlength="200" placeholder="Existencias del producto" class="form-control">
        </div>
        <div class="form-group">
            <label>Imagen:</label>
            <input type="file" name="imagen" placeholder="Imagen de la Categoria" class="form-control">
        </div>
        <div class="form-group">
            <label>Especificaciones:</label>
            <input type="file" name="espe" placeholder="Especificaciones" class="form-control">
        </div>
            <button type="submit" class="btn btn-primary">Agregar</button>
            <a href="/" class="btn btn-danger">Cancelar</a>
    </form>
</div>

{% endblock %}