{% extends 'comunes/base.html' %}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1>LISTADO DE PRODUCTOS</h1>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>CATEGORIA</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th>IMAGEN</th>
            {% if current_user.is_authenticated and current_user.is_admin() %}
            <th>EDITAR</th>
            {% endif %}
        </thead>
        {% for prod in productos %}
            <tr>
                <td>{{prod.nombre}}</td>
                <td>{{prod.descripcion}}</td>
                <td>{{prod.categoria.nombre}}</td>
                <td>{{prod.precioVenta}}</td>
                <td>{{prod.existencia}}</td>
                <td><img src="/productos/foto/{{prod.idProducto}}"  width="100px" height="100px"></td>
                {% if current_user.is_authenticated and current_user.is_admin() %}
                <td>
                    <a href="/Productos/{{prod.idProducto}}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
        {% if current_user.is_authenticated and current_user.is_admin() %}
    <a href="/Productos/nuevo" class="btn btn-success">
         <span class="glyphicon glyphicon-plus-sign"></span>
        Agregar producto
    </a>
    {% endif %}
    </div>
{% endblock %}